<h2><%= @entry.title %></h2>

<p><%= @entry.body  %></p>

<form action="/entry/<%= @entry.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" value="Update">
</form>

<form action='/entry/<%= @entry.id %>' method='post'>
  <input type="hidden" name="_method" value="DELETE">
  <input type='submit' value='Delete Entry'>
</form>

<h3>Comments</h3>

<% @entry.comments.each do |comment| %>
<p><%= comment.text %></p>
<% end %>
